* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  background-color: #085e08;
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
}

header h1 {
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: black;
  text-align: center;
}

.player {
  height: 40vh;
  padding: 1rem;
  margin: 1.5rem;
}
.cards {
  position: relative;
  left: 3rem;
  width: 150px;
  margin-left: -4rem;
}
